* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
body {
  overflow-x: hidden;
}
/* #main {
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1765476608471-c30c09564def?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
} */
#main {
  height: 100%;
  width: 100%;
  position: relative; /* IMPORTANT */
  background-image: url(https://images.unsplash.com/photo-1765476608471-c30c09564def?q=80&w=2938&auto=format&fit=crop);
  background-size: cover;
  background-position: center;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  color: rgba(255, 255, 255, 0.688);
}
#nav h2 {
  font-size: 30px;
}
#nav i {
  font-size: 30px;
  font-weight: 800;
}
/* #full {
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  backdrop-filter: blur(
    10px
  ); /* Backdrop-filter ka uses kisi aliment ke piche ki cheejo ko blur ker na ke kaam aati hain. 
  padding: 150px 60px;
} */
#full {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  right: -40%; /* HIDDEN INITIALLY */
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  padding: 150px 60px;
}
#full h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
}
#full i {
  position: absolute;
  top: 5%;
  right: 10%;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
}
